#H31{
    background-color: #cbbfb5;
}
canvas{
    border: 1px black solid ;
    
}

#button1:hover{
    background: #F1B5C0;
}

h3{
    font-size: 25px !important;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite ;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px #F1B5C0;}
    to{box-shadow: 1px 1px 38px #94D797;}

}